<% provide(:title, "My Characters") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1>All messages</h1>
    
    <%= button_to 'New Message', new_user_message_path, method: :get %>
      <br>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.dest %></td>
          
          </tr>
        <% end %>
      </
 
    
  </body>
</html>
