<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1>home page for logged user</h1>
    <p>Hi User! This is your homepage</p>
    
    <p>
      <input type="button" name="myCharacters" value="My Characters" onclick="location.href = '';">
    </p>

    <p>
      <input type="button" name="myCampaings" value="My Campaigns" onclick="location.href = '';">
    </p>
    <p>
      <input type="button" name="profile" value="View Profile" onclick="location.href = 'profile';">
  	</p>
  </body>
</html>