<% provide(:title, "Index") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1>Index page for scheduling user between login, registration and simple characters</h1>
    
    <p><%= link_to "Log in", new_user_session_url%><br /></p>

	<p><%= link_to "Sign up", new_user_registration_url%> </p>

    <p>
      <input type="button" name="simpleCharacters" value="Simple Characters" onclick="location.href = 'static_pages/simple_character';">
    </p>
  </body>
</html>