<% provide(:title, "Profile") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1 class="text-center page-title">This is your profile.</h1>
    
    <div class="card shadow-lg col-lg-4 col-md-3 col-sm-3 bg-white mx-auto pt-3 pb-3">
      <div> <b>E-Mail:</b>  <%= current_user.email%> </div>

      <div> <b>Nickname:</b> <%= current_user.username%> </div>

      <% if  current_user.admin %>
		     <div> <b> You're an Admin!</b> </div>
      <% end %>
    </div>

    <div class="row pt-3">
      <div class="col text-center">
    <p><%= link_to "Edit Your Profile", edit_user_registration_path, class: "btn  btn-outline-primary waves-effect" %></p>

    <p><%= link_to "Home Page", static_pages_home_url, class: "btn  btn-outline-primary waves-effect" %><br /></p>
      </div>
    </div>
  </body>
</html>