<% provide(:title, "Simple Characters") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1>This is an example of how you can do with RPG Campaign Manager</h1>
    <p>Placeholder for PG 1</p>
    <p>Placeholder for PG 2</p>
    <p>Placeholder for PG 3</p>
	<p><%= link_to "Back to index page", root_url%><br /></p>

    <p><%= link_to "Log in", new_user_session_url%><br /></p>

	<p><%= link_to "Sign up", new_user_registration_url%> </p>

    <p>
    </p>
  </body>
</html>