<% provide(:title, "Simple Characters") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1 class="text-center page-title">These are examples of the characters you can create with RPG Campaign Manager</h1>
    
    <div class="row">
      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">
        <p><strong>Name: </strong> Chronos <br /></p>
        <p><strong>Level: </strong> 6 <br /></p>
        <p><strong>Race: </strong> Elf <br /></p>
        <p><strong>Class: </strong> Barbarian <br /></p>
        <p><strong>Info: </strong>  As most elves, Chronos connects everything that happens to me to a grand, cosmic plan. He often gets lost in his own thoughts, becoming oblivious to his surroundings. But a dark and mysterious past, means He harbors dark, bloodthirsty thoughts that his isolation and meditation failed to quell.</p>
        </tr>
      </div>

      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">
        <p><strong>Name: </strong> Rodos <br /></p>
        <p><strong>Level: </strong> 1 <br /></p>
        <p><strong>Race: </strong> Human <br /></p>
        <p><strong>Class: </strong> Bard <br /></p>
        <p><strong>Info: </strong>  Son of the most famous bard in the world, Rodos has been struggling to live up to the expectations society had for him. Now that his father died in battle he has no teacher anymore, but this means He is eager to prove himself and avenge his father.</p>
      </div>

      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">
        <p><strong>Name: </strong> Zeus <br /></p>
        <p><strong>Level: </strong> 15 <br /></p>
        <p><strong>Race: </strong> Dwarf <br /></p>
        <p><strong>Class: </strong> Mage <br /></p>
        <p><strong>Info: </strong>  Zeus was once part of the most powerful counsel of mages, but his once best friend, Atreus, decided he had enough of Zeus morals, and convinced the rest of the counsel to exile him. Zeus isn't bitter, because he has the good of realm at heart, and is ready to battle everything that is a menace.</p>
      </div>
    </div>

    <div class="text-center pt-4"><%= link_to "Back to index page", root_url, class: "btn  btn-outline-primary waves-effect"%><br /></div>

  </body>
</html>