<% provide(:title, "Simple Characters") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1 class="text-center page-title">These are examples of the characters you can create with RPG Campaign Manager</h1>
    
    <div class="row">
      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">
        <p><strong>Name: </strong> Chronos <br /></p>
        <p><strong>Level: </strong> 6 <br /></p>
        <p><strong>Race: </strong> Elf <br /></p>
        <p><strong>Class: </strong> Barbarian <br /></p>
        <p><strong>Info: </strong> Born in the palace of an elven house, Chronos lives a comfortable youth. He is the son of the clan leader, and is used to having everything he wants: the most beautiful clothes, the most expensive weapons, and the best preceptors. From his teachers he learned the rudiments of magic, letters, poetry, history, while his weapon master teached him the basic steps of the "singing of the blade", the most difficult elf fencing technique. Confident and proud of his lineage, Chronos planned to leave his home to travel the world; at the rejection of his parents he decides to escape secretly after having stolen from the palace's armory the best and his father's sword. After a few days they came across a band of thieves, who defeat him in minutes and steal everything. Chronos, betrayed by his own bravado, learns the lesson of humility.</p>
        </tr>
      </div>

      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">
        <p><strong>Name: </strong> Rodos <br /></p>
        <p><strong>Level: </strong> 1 <br /></p>
        <p><strong>Race: </strong> Human <br /></p>
        <p><strong>Class: </strong> Bard <br /></p>
        <p><strong>Info: </strong> The life of Rodos has been marked by some memory problems. As a boy he had the habit of taking other people's things, slipping where he didn't have to, hiding to surprise his relatives from behind, who every time ended up risking heart attack. After years of these increasingly elaborate and amusing "pranksters jokes" (for Rodos of course), his brothers decided to lead him a little. During the beating Rodos fell on his head against a boulder from there he began to forget things from one moment to the next. One day trying to go home, convinced that he is following the right path, he goes even further. Not finding his village he takes a new path, and although he does not know the places he visits, he is convinced that he is on the right path, and that he knows perfectly every place he meets. For several months he has been traveling from city to city convinced that he is on his way home.</p>
      </div>

      <div class="card shadow-lg col-lg-4 col-md-4 col-sm-3 bg-white mx-auto pt-3 pb-3">
        <p><strong>Name: </strong> Zeus <br /></p>
        <p><strong>Level: </strong> 15 <br /></p>
        <p><strong>Race: </strong> Dwarf <br /></p>
        <p><strong>Class: </strong> Mage <br /></p>
        <p><strong>Info: </strong>  Zeus is the young son of a blacksmith, and has learned from his father the art of forging and handling weapons. With the outbreak of war he decided to put himself at the service of an order of knights as a mercenary soldier, both because he was fascinated by the exploits of the paladins, and in the hope of traveling the world and finding magical or particular weapons like the ones his father keeps. During his stay at the castle of the knights he meets Dargor, a priest of the goddess Airmed, who becomes his spiritual guide and his teacher of life. Since then the two travel together.</p>
      </div>
    </div>

    <div class="text-center pt-4"><%= link_to "Back to index page", root_url, class: "btn  btn-outline-primary waves-effect"%><br /></div>

  </body>
</html>