<% provide(:title, "Received invites") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1 class="text-center page-title">Invites</h1>
    <hr>
 
      <table class="table table-bordered">
        <caption>Invites Received</caption>
        <thead>
          <tr>
            <th scope="col">Invite From</th>
            <th scope="col">Campaign's Title</th>
            <th scope="col">Answer</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
 
        <tbody>
        <% @invites.each do |invite| %>
          <tr class="text-center">
            <td><%= invite.sender %></td>
            <td><%= invite.campaign %></td>
          
            <td><%= link_to 'Answer', user_invite_path(current_user, invite), class: "btn  btn-outline-primary waves-effect" %></td>
            <td><%= link_to 'Delete', user_invite_path(current_user, invite),
              data: { confirm: 'Are you sure?' } , :method => :delete, class: "btn  btn-outline-primary waves-effect" %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    
  </body>
</html>
